<a href="https://colab.research.google.com/github/SeunginKimT/study/blob/main/Python_Study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(1,6):
  print(i)

1
2
3
4
5

In [ ]:
numbers = [1, 2, 3, 4, 5]
for j in numbers:
  print(j)

1
2
3
4
5

In [ ]:
greeting = "Hello"
for i in greeting:
  print(i)

H
e
l
l
o

In [ ]:
# 리스트 [2, 4, 6, 8, 10]에 들어있는 수들의 합계를 구해 출력하세요.

gums = [2, 4, 6, 8, 10]
total = 0
for i in gums:
    total += i
print("합계:", total)

합계: 30

In [ ]:
# 리스트 nums = [12, 5, 8, 130, 44]에서 10보다 큰 수만 골라 새 리스트에 담아 출력하세요.

nums = [12, 5, 8, 130, 44]
for i in nums:
  if i >= 10:
   print(i)

12
130
44

In [ ]:
nums = [12, 5, 8, 130, 44]
big = []
for n in nums:
    if n > 10:
        big.append(n)
print("10보다 큰 수:", big)

10보다 큰 수: [12, 130, 44]

In [ ]:
# 1부터 100까지의 합을 구해 출력하세요.

total = 0
for i in range(1,101):
  total += i
print("합", total)

합 5050

In [ ]:
# 리스트 [1, 5, 2, 8, 3, 10]에서 짝수만 골라 새로운 리스트에 담고 출력하세요.

original = [1, 5, 2, 8, 3, 10]
evens = []
for n in original:
  if n % 2 == 0:
        evens.append(n)
print(evens)

[2, 8, 10]

In [ ]:
# 학생의 점수 score를 입력받아 90 이상 A, 80 이상 B, 70 이상 C, 60 이상 D, 나머지 F를 출력하세요.

score = int(input("점수를 입력하세요 (0~100): "))
if score >= 90:
  grade = "A"
elif score >= 80:
  grade = "B"
elif score >= 70:
  grade = "C"
elif score >= 60:
  grade = "D"
else:
  grade = "F"
print(grade)

점수를 입력하세요 (0~100): 20
F

In [ ]:
# 두 수 a, b를 입력받아 같으면 “같음”, 아니면 “다름”을 출력하세요.

a = input("a를 입력하세요: ")
b = input("b를 입력하세요: ")
if a == b:
  i = "같음"
else:
  i = "다름"
print(i)

a를 입력하세요: 1
b를 입력하세요: 1
같음

In [ ]:
# 1부터 5까지 숫자를 출력하세요.

i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

In [ ]:
# 문자열 "Python"의 각 문자를 한 글자씩 출력하세요.

s = "Python"
i = 0
while i < len(s):
    print(s[i])
    i += 1

P
y
t
h
o
n

In [ ]:
a = 3
if a > 1:
  print("a는1보다 큽니다")

a는1보다 큽니다

In [ ]:
for a in [1,2,3]:
  print(a)

1
2
3

In [ ]:
i = 0
while i < 3:
  i = i+1
  print(i)

1
2
3

In [ ]:
def add(a, b):
  return a + b

print(add(3, 4))

7

In [ ]:
a = 3
b = 4
a + b

7

In [ ]:
10*18**2+2*11

3262

In [ ]:
14/3

4.666666666666667

In [ ]:
14%3

2

In [ ]:
14//3

4

In [ ]:
multiline = """
life is too short
you need python
"""
print(multiline)

life is too short
you need python

In [ ]:
head = "python"
tail = " is fun"
head + tail

'python is fun'

In [ ]:
a = "python"
a * 2

'pythonpython'

In [ ]:
print("=" * 50)
print("my program")
print("=" * 50)

==================================================
my program
==================================================

In [ ]:
a = "life is too short"
len(a)

17

In [ ]:
a = "life is too short, you need python"
a[19:-7]

'you need'

In [ ]:
a = "Pithon"
a[:1] + "y" + a[2:]

'Python'

In [ ]:
"I eat %d apples" %3

'I eat 3 apples'

In [ ]:
"I eat %s apples" %"five"

'I eat five apples'

In [ ]:
number = 5
"I eat %d apples" % number

'I eat 5 apples'

In [ ]:
"error is %d%%" % 8

'error is 8%'

In [ ]:
"%10s" %"hi"

'        hi'

In [ ]:
"%-10sjane" %"hi"

'hi        jane'

In [ ]:
"I eat {0} apples" .format(3)

'I eat 3 apples'

In [ ]:
"I eat {0} apples" .format("three")

'I eat three apples'

In [ ]:
number = 3
"I eat {0} apples" .format(number)

'I eat 3 apples'

In [ ]:
"I ate {0} apples in {hour} hour." .format(3, hour=1)

'I ate 3 apples in 1 hour.'

In [ ]:
"{0:=>10}" .format("hi")

'========hi'

In [ ]:
y = 3.215464
"{0:10.4f}" .format(y)

'    3.2155'

In [ ]:
name = "홍길동"
age = '30'
f"나의 이름은 {name} 입니다. 나이는 {age} 입니다"

'나의 이름은 홍길동 입니다. 나이는 30 입니다'

In [ ]:
age = 30
f"나는 내년이면 {age + 1}살이 된다."

'나는 내년이면 31살이 된다.'

In [ ]:
f'{"python":!^12}'

'!!!python!!!'

In [ ]:
b = "hobby"
b.count('b')

2

In [ ]:
a = "python is the best choice"
a.find ('b')
a.find ('k')

-1

In [ ]:
a = "Life is too short"
a.index('e')

3

In [ ]:
"," .join('abcd')

'a,b,c,d'

In [ ]:
a = "hi"
a.upper()

'HI'

In [ ]:
a = "hi"
a.lower()

'hi'

In [ ]:
a = "life is too short"
a.replace("life", "your leg")

'your leg is too short'

In [ ]:
a = "life is too short"
a.split()

['life', 'is', 'too', 'short']

In [ ]:
a = [1,2,3]
a[0] + a[2]

4

In [ ]:
def a(name):
  print(f'안녕하세요. {name}님!')
a("H")
a("k")

안녕하세요. H님!
안녕하세요. k님!

In [ ]:
#두 수의 합 반환하기
#두 개의 숫자 a, b를 받아서 그 합을 반환하는 함수 sum_two(a, b)를 작성하세요.

def sum_two(a, b):
  c = a + b
  return c

sum_two(3,4)

7

In [ ]:
#두 수의 곱 반환하기
#두 개의 숫자 a, b를 받아서 그 곱을 반환하는 함수 multiple_two(a, b)를 작성하세요.

def multiple_two(a, b):
  c = a * b
  return c

multiple_two(3,4)

12

In [ ]:
#짝수 판별하기
#정수 n을 받아서 짝수이면 True, 홀수면 False를 반환하는 함수 is_even(n)을 작성하세요.

def is_even(n):
  if n % 2 == 0 :
    return True
  else :
    return False

is_even(6)

True

In [ ]:
#count_items 함수 안에 for문을 넣어서 [1,2,3,4] 원소 전부 다 더합니다.

def count_items(count):
  total = 0
  for i in count:
    total += i
  return total
count = [1,2,3,4]
count_items(count)

10

In [ ]:
def a(n):
  return n % 2 == 1
a(4)

False

In [ ]:
#팩토리얼 계산하기
#자연수 n을 받아서 1*2*...*n 값을 반환하는 함수 factorial(n)을 작성하세요.

def factorial(n):
  total = 1
  for i in range (1, n) :
    total *= i + 1
  return total
factorial(4)

24

In [ ]:
#짝수·홀수 개수 세기
#정수 리스트 nums를 받아 짝수와 홀수의 개수를 튜플 (even_count, odd_count)로 반환하는 함수 count_even_odd(nums)를 작성하세요.

def count_even_odd(nums):
  even_count = 0
  odd_count = 0
  for i in nums:
    if i % 2 == 0:
      even_count += 1
    else:
      odd_count += 1
  return even_count, odd_count
count_even_odd([1,2,3,4,5])

(2, 3)

In [ ]:
# 양수 합계 구하기
# 정수 리스트 nums를 받아 0보다 큰(양수) 값들만 모두 더한 합계를 반환하는 함수 sum_positive(nums)를 작성하세요.
# sum_positive([10, -5, 0, 3, -1, 7])

sum_lst = [10, -5, 0, 3, -1, 7]
total = 0
for i in sum_lst :
  if i >= 0:
    total += i
print(total)

20

In [ ]:
def sum_positive(nums):
  total = 0
  for i in nums:
    if i >=0:
      total += i
  return total
sum_positive([10, -5, 0, 3, -1, 7])

20

In [ ]:
for i in range(1,6):
  print(i)

1
2
3
4
5

In [ ]:
list = [1,2,3,4,5]
for i in list:
  print(i)

1
2
3
4
5

In [ ]:
a = "hello"
for i in a:
  print(i)

h
e
l
l
o

In [ ]:
# 리스트 [2, 4, 6, 8, 10]에 들어있는 수들의 합계를 구해 출력하세요.

a = [2,4,6,8,10]
total = 0
for i in a:
  total += i
print(total)

30

In [ ]:
# 1부터 10까지 숫자 중에서 짝수만 출력하세요.

for i in range(1,11):
  if i %2 == 0:
    print(i)

2
4
6
8
10

In [ ]:
# 리스트 [1, 5, 2, 8, 3, 10]에서 짝수만 골라 새로운 리스트에 담고 출력하세요.

list = [1,5,2,8,3,10]
evens = []
for i in list:
  if i %2 == 0:
    evens.append(i)
print(evens)

[2, 8, 10]

In [ ]:
# 리스트 [3, 7, 1, 9, 4]에서 최대값을 찾아 출력하세요.

nums = [3,7,1,9,4]
max_val = nums[0]
for i in nums:
  if i >= max_val:
    max_val = i
print(max_val)

9

In [ ]:
# 리스트 [1, 2, 2, 3, 4, 4, 5]에서 중복을 제거한 새 리스트를 만들어 출력하세요.

nums = [1,2,2,3,4,4,5]
n = []
for i in nums:
  if i not in n:
    n.append(i)
print(n)

[1, 2, 3, 4, 5]

In [ ]:
#1부터 5까지 숫자를 출력하세요.

for i in range(1,6):
  print(i)

1
2
3
4
5

In [ ]:
# 리스트 [1, 2, 3, 4, 5]의 각 요소를 출력하세요.

list = [1,2,3,4,5]
for i in list:
  print(i)

1
2
3
4
5

In [ ]:
# 문자열 "Hello"의 각 문자를 한 글자씩 출력하세요.

a = "hello"
for i in a:
  print(i)

h
e
l
l
o

In [ ]:
# 리스트 [2, 4, 6, 8, 10]에 들어있는 수들의 합계를 구해 출력하세요.

list = [2,4,6,8,10]
total = 0
for i in list:
  total += i
print(total)

30

In [ ]:
# 1부터 10까지 숫자 중에서 짝수만 출력하세요.

for i in range(1,11):
  if i %2 == 0:
    print(i)

2
4
6
8
10

In [ ]:
# 리스트 [1, 5, 2, 8, 3, 10]에서 짝수만 골라 새로운 리스트에 담고 출력하세요.

nums = [1,5,2,8,3,10]
list = []
for i in nums:
  if i %2 == 0:
    list.append(i)
print(list)

[2, 8, 10]

In [ ]:
#두 수의 합 함수
#함수명: add(a, b)
#설명: 정수 a, b 두 개를 입력받아 그 합을 반환하는 함수를 작성하세요.

def add(a,b):
  c = a + b
  return c

add(3,4)

7

In [ ]:
#제곱 함수
#함수명: square(n)
#설명: 정수 n을 입력받아 n의 제곱(n * n)을 반환하는 함수를 작성하세요.

def square(n):
  return n*n
square(5)

25

In [ ]:
#짝수 판별 함수
#함수명: is_even(n)
#설명: 정수 n을 입력받아 짝수이면 True, 홀수이면 False를 반환하는 함수를 작성하세요.

def is_even(n):
  if n %2 == 0:
    return True
  else:
    return False
is_even(5)

False

In [ ]:
#인사 출력 함수
#함수명: greet(name)
#설명: 문자열 name을 입력받아 "Hello, {name}!" 형식으로 인사를 출력하는(프린트하는) 함수를 작성하세요.

def greet(name):
  print(f"Hello, {name}!")

greet("kim")

Hello, kim!

In [ ]:
#팩토리얼 함수

#함수명: factorial(n)

#설명: 자연수 n을 입력받아 n!(팩토리얼)을 반복문을 사용해 계산하여 반환하는 함수를 작성하세요.


def factorial(n):
  total = 1
  for i in range(1,n+1):
    total *= i
  return total

factorial(5)

120

In [ ]:
# 양수 합계 구하기
# 정수 리스트 nums를 받아 0보다 큰(양수) 값들만 모두 더한 합계를 반환하는 함수 sum_positive(nums)를 작성하세요.
# sum_positive([10, -5, 0, 3, -1, 7])

sum_positive = [10,-5,0,3,-1,7]
total = 0
for i in sum_positive:
  if i >= 0:
    total += i
print(total)

20

In [ ]:
# 특정 문자 포함 문자열 필터링
# 문자열 리스트 words와 문자 ch를 받아, 각 단어에 ch가 포함된 것만 모아 새 리스트로 반환하는 함수 filter_contains_char(words, ch)를 작성하세요.
# fruits = ["apple", "banana", "cherry", "date", "grape"]

fruits = ["apple", "banana", "cherry", "date", "grape"]
a = "ch"
results = []

for i in fruits:
  if a in i:
    results.append(i)
print(results)

['cherry']

In [ ]:
# 양수·음수 개수 세기
# 정수 리스트 nums를 받아 양수와 음수의 개수를 튜플 (pos_count, neg_count)로 반환하는 함수 count_pos_neg(nums)를 작성하세요.
# (0은 양수·음수 둘 다 아님)
# count_pos_neg([10, -5, 0, 3, -1, 7, -8])

def count_pos_neg(nums):
  pos_count = 0
  neg_count = 0
  for i in nums:
    if i > 0:
      pos_count += 1
    elif i < 0:
      neg_count += 1
  return pos_count, neg_count
count_pos_neg([10, -5, 0, 3, -1, 7, -8])

(3, 3)

In [ ]:
# 2. n으로 나누어 떨어지는 수 필터링
# 정수 리스트 nums와 정수 n을 받아, nums 중에서 n으로 나누어 떨어지는 수만 모아 새 리스트를 반환하는 함수 filter_divisible(nums, n)를 작성하세요.

def filter_divisible(nums, n):
  a = []
  for i in nums:
    if i %n == 0:
      a.append(i)
  return a
filter_divisible([10,15,20,24],5)

[10, 15, 20]

In [ ]:
#고유 문자 개수 세기
#문자열 s가 주어질 때, 단 한 번만 등장하는 문자의 개수를 세는 함수 count_unique_chars(s)를 작성하세요.
#예시: "abacdc" → 결과: 2 (b, d)

def count_unique_chars(s):
  result = {}
  for i in s:
    if i in result:
      result[i] += 1
    else:
      result[i] = 1

  unique_count = 0
  for count in result.values():
    if count == 1:
      unique_count += 1
  return unique_count

print(count_unique_chars("abbacdc"))

1

In [ ]:
#n으로 나누어 떨어지는 수 필터링
#리스트 nums와 정수 n이 주어졌을 때, n으로 나누어떨어지는 값들만 모은 리스트를 반환하는 함수 filter_divisible(nums, n)를 작성하세요.

def filter_divisible(nums, n):
  result = []
  for i in nums:
    if i %n == 0:
      result.append(i)
  return result
print(filter_divisible([2,4,6,8,11],2))

[2, 4, 6, 8]

In [ ]:
#3최장 고유 부분 문자열
#문자열 s가 주어질 때, 중복 문자가 없는 가장 긴 부분 문자열의 길이를 반환하는 함수 length_of_longest_substring(s)를 작성하세요.
#예시: "abcabcbb" → 3

def length_of_longest_substring(s):
  char_set = set()
  left = 0
  max_len = 0

  for right in range(len(s)):
    while s[right] in char_set:
      char_set.remove(s[left])
      left += 1
    char_set.add(s[right])
    max_len = max(max_len, right-left+1)
  return max_len
print(length_of_longest_substring("sdfefdfs"))

4

In [ ]:
#4. 섬의 개수 세기
#이차원 리스트 grid가 주어질 때, 연결된 '1' 묶음을 섬으로 보고 섬의 개수를 세는 함수 num_islands(grid)를 작성하세요.

In [ ]:
#5. 좌표 이동 시뮬레이션
#문자열 moves가 주어질 때, U, D, L, R 명령에 따라 최종 위치를 반환하는 함수 final_position(moves)를 작성하세요. 초기 위치는 (0, 0)입니다.

def final_position(moves):
  x,y = 0,0
  for i in moves:
    if

(-1, 1)

In [ ]:
#6. 가장 많이 등장한 숫자
#정수 리스트 nums가 주어질 때, 가장 자주 등장한 숫자를 반환하는 함수 most_frequent(nums)를 작성하세요.

In [ ]:
import random

#축구팀 경기의 우승 횟수와 결과 발표
#input으로 팀 생성, done이 나오면 팀 생성 끝
#두팀씩 팀 나누기,점수 매기기
#이긴 횟수, 무승부 횟수, 진 횟수, 경기 횟수

houses = []
while True:
  house_name = input()
  if "done" in house_name:
    break
  else:
    houses.append(house_name)
print(houses)
matches = []
for x in range(len(houses)):
  for y in range(x+1, len(houses)):
    matches.append([houses[x],houses[y]])


print(matches)

wins = [0] * len(houses)
losses = [0] * len(houses)
draws = [0] * len(houses)
totalmatchplayed = [0] * len(houses)

print(wins)
print(losses)
print(draws)
print(totalmatchplayed)

for match in matches: # matches : [['123', '456'],['456', '789'],['123', '789']]
  team1 = match[0]
  team2 = match[1]
  print(f"\n{team1} vs {team2}")

  goals1 = input(f"Enter the goals scored by {team1}: ")
  goals2 = input(f"Enter the goals scored by {team2}: ")

a
b
c
d
done
['a', 'b', 'c', 'd']
[['a', 'b'], ['a', 'c'], ['a', 'd'], ['b', 'c'], ['b', 'd'], ['c', 'd']]
[0, 0, 0, 0]
[0, 0, 0, 0]
[0, 0, 0, 0]
[0, 0, 0, 0]

a vs b
Enter the goals scored by a: 1
Enter the goals scored by b: 3

a vs c
Enter the goals scored by a: 1
Enter the goals scored by c: 5

a vs d
Enter the goals scored by a: 5
Enter the goals scored by d: 7

b vs c
Enter the goals scored by b: 4
Enter the goals scored by c: 5

b vs d
Enter the goals scored by b: 2
Enter the goals scored by d: 3

c vs d
Enter the goals scored by c: 2
Enter the goals scored by d: 3