In [ ]:
for i in range(1,6):
  print(i)

1
2
3
4
5

In [ ]:
numbers = [1, 2, 3, 4, 5]
for j in numbers:
  print(j)

1
2
3
4
5

In [ ]:
greeting = "Hello"
for i in greeting:
  print(i)

H
e
l
l
o

In [ ]:
# 리스트 [2, 4, 6, 8, 10]에 들어있는 수들의 합계를 구해 출력하세요.

gums = [2, 4, 6, 8, 10]
total = 0
for i in gums:
    total += i
print("합계:", total)

합계: 30

In [ ]:
# 리스트 nums = [12, 5, 8, 130, 44]에서 10보다 큰 수만 골라 새 리스트에 담아 출력하세요.

nums = [12, 5, 8, 130, 44]
for i in nums:
  if i >= 10:
   print(i)

12
130
44

In [ ]:
nums = [12, 5, 8, 130, 44]
big = []
for n in nums:
    if n > 10:
        big.append(n)
print("10보다 큰 수:", big)

10보다 큰 수: [12, 130, 44]

In [ ]:
# 1부터 100까지의 합을 구해 출력하세요.

total = 0
for i in range(1,101):
  total += i
print("합", total)

합 5050

In [ ]:
# 리스트 [1, 5, 2, 8, 3, 10]에서 짝수만 골라 새로운 리스트에 담고 출력하세요.

original = [1, 5, 2, 8, 3, 10]
evens = []
for n in original:
  if n % 2 == 0:
        evens.append(n)
print(evens)

[2, 8, 10]

In [ ]:
# 학생의 점수 score를 입력받아 90 이상 A, 80 이상 B, 70 이상 C, 60 이상 D, 나머지 F를 출력하세요.

score = int(input("점수를 입력하세요 (0~100): "))
if score >= 90:
  grade = "A"
elif score >= 80:
  grade = "B"
elif score >= 70:
  grade = "C"
elif score >= 60:
  grade = "D"
else:
  grade = "F"
print(grade)

점수를 입력하세요 (0~100): 20
F

In [ ]:
# 두 수 a, b를 입력받아 같으면 “같음”, 아니면 “다름”을 출력하세요.

a = input("a를 입력하세요: ")
b = input("b를 입력하세요: ")
if a == b:
  i = "같음"
else:
  i = "다름"
print(i)

a를 입력하세요: 1
b를 입력하세요: 1
같음

In [ ]:
# 1부터 5까지 숫자를 출력하세요.

i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

In [ ]:
# 문자열 "Python"의 각 문자를 한 글자씩 출력하세요.

s = "Python"
i = 0
while i < len(s):
    print(s[i])
    i += 1

P
y
t
h
o
n